---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout name="PaginasEstaticas" prevSlideName="PaginasEstaticas1" nextSlideName="SinglePageApplications1">
	<h2>Paginas Estaticas</h2>
  <div>
		<h3>Pero y si tenemos contenido <u>dinamico</u>?</h3>
	</div>
</MainLayout>

<style>
	div{
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	h3 {
		font-size: 60px;
		margin-bottom: 1rem;
    text-align: center;
  }
	p {
		font-size: 30px;
	}
</style>