---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout name="SobreLaWeb" prevSlideName="" nextSlideName="ConQueSeRenderiza">
	<div class="container">
    <div class="box">
      <h3>Servidor</h3>
      <p>Envia Informacion</p>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>...</li>
      </ul>
    </div>
    <div class="box">
      <h3>Navegador</h3>
      <p>Procesa la informacion</p>
    </div>
    <div class="box">
      <h3>Display</h3>
    </div>
  </div>
</MainLayout>

<style>
  .container {
    flex:1;
    display: flex;
    column-gap: 3rem;
  }
  .box {
    margin: 4rem;
    background-color: dimgray;
    border-radius: 1rem;
    border: 0.2rem solid white;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  ul {
    text-align: left;
  }
</style>